flow.json
[{"id":"8b02f513.12b4f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ee0eb04.6e6e84","type":"subflow","name":"Test Subflow","info":"","category":"","in":[],"out":[]},{"id":"fd415cd7.72fb6","type":"inject","z":"4ee0eb04.6e6e84","name":"","topic":"","payload":"Hello World!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":40,"wires":[["f9a1df65.e2f0e8"]]},{"id":"f9a1df65.e2f0e8","type":"debug","z":"4ee0eb04.6e6e84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":140,"wires":[]},{"id":"64ab890a.0fc6","type":"subflow:4ee0eb04.6e6e84","z":"8b02f513.12b4f8","name":"","x":90,"y":80,"wires":[]},{"id":"449597df.364948","type":"comment","z":"8b02f513.12b4f8","name":"This is an example of the Test Subflow instance","info":"","x":200,"y":40,"wires":[]}]